body{
    background-image: url(fondo.jpg);
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 50px;
}

.comida {
    position: absolute;
    color: #fff;
    user-select: none;
    pointer-events: none;
    animation: caida 2s linear infinite;
}

@keyframes caida {
    from {
        transform: translateY(-30vh);
    }
    to {
        transform: translateY(100vh);
    }
}
